<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value=""/>
    <add key="ReportPath" value=""/>
    <!-- leave value empty if there's no shift -->
    <add key="FirstShift" value="7,14,106348"/> <!-- <start of shift>,<end of shift>,<supversior card number> -->
    <add key="SecondShift" value="15,22,93543"/>
    <add key="ThirdShift" value="23,6,57500"/>
    <add key="PSOOracleJobTitle" value="public safety"/>
    <add key="CustomEndDate" value="3/7/2020"/>
    </appSettings>
      <startup> 
          <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
      </startup>
</configuration>